<!DOCTYPE html>
<html ng-app="citizen_module">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}CitizenApp{% endblock %}</title>
	{% load staticfiles %}
	<meta charset="utf-8">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle='collapse' data-target= "#topnav">
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
				<a class="navbar-brand" href="">Home</a>
			</div>
			<div class="collapse navbar-collapse" id="topnav">
				<ul class="nav navbar-nav">
					<li>
						<a href="{% url 'citizenapp:citizenList' %}">
							<span class='glyphicon glyphicon-user' aria-hidden='true'></span>&nbsp;
							All Citizens
						</a>
					</li>
					<li>
						<a href="{% url 'citizenapp:citizenAdd' %}">
							<span class='glyphicon glyphicon-plus' aria-hidden='true'></span>&nbsp; 
							Add Citizens
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	{% block body%}
	{% endblock %}
</body>
{% block script %}
<script src="{% static 'js/angular.js' %}" type="text/javascript"></script>
<script src="{% static 'js/citizen_angular.js' %}" type="text/javascript"></script>
{% endblock %}
</html>