{% extends 'base.html' %}
{% block title %}Citizen Form{% endblock %}
{% block body %}
	<div class= "container-fluid" ng-controller = 'citizen_controller'>
		<div class= "row">
			<div class="col-sm-0 col-lg-2 col-md-2"> 
				
			</div>
			<div class="col-sm-12 col-lg-8 col-md-8">
				<div class="panel panel-default">
				<div class="panel-heading"><strong>Citizen Registration</strong></div>
					<div class="panel-body">
						<form name = "citizenform" enctype="multipart/form-data">
						{% csrf_token %}
							<div class="form-row">
							    <div class="form-group col-md-6">
							      <label for="first_name">First Name</label>
							      <input type="text" class="form-control" name = "first_name" id="first_name" ng-model="data.first_name" ng-required="true">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="last_name">Last Name</label>
							      <input type="" class="form-control" id="last_name" name = "last_name" ng-model="data.last_name" ng-required="true">
							    </div>
							</div>
							<div class="form-row">
							    <div class="form-group col-md-6">
							      <label for="email">Email</label>
							      <input type="email" class="form-control" id="email" name="email" ng-model = "data.email" ng-required="true">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="Birth_Date">Birth Date</label>
							      <input type="date" class="form-control" id="birth_Date" name="Birth_Date" ng-model="data.birth_date" ng-required="true">
							    </div>
							</div>
							<div class="form-row">
							    <div class="form-group col-md-6">
							      <label for="city">City</label>
							      <input type="text" class="form-control" id="city" name="city" 
							      ng-model="data.city" ng-required="true">
							    </div>
							    <div class="form-group col-md-6">
						      		<label for="pincode">pincode</label>
						      		<input type="text" class="form-control" id="pincode" name="pincode" ng-model="data.pincode" ng-required="true" maxlength="6"ng-pattern="/^[0-9]{0,7}$/">
								     <span ng-show="citizenform.pincode.$error.pattern" color='red'>Not a valid Pincode!</span>
						    	</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-12">
								    <label for="Address">Address</label>
								    <input type="text" class="form-control" id="Address" name="address" ng-model = "data.address" ng-required="true">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
								      <label for="Mobile">Mobile</label>
								      <input type="text" class="form-control" id="Mobile" name="mobile" ng-model="data.mobile" ng-required="true" maxlength="10" ng-pattern="/^[0-9]{0,10}$/">
								      <span ng-show="citizenform.mobile.$error.pattern" color='red'>Not a valid number!</span>
								</div>
							    <div class="form-group col-md-6">
							      <label for="Qualification">Qualification</label>
							      <input type="text" class="form-control" id="Qualification" name="qualification" ng-model="data.qualification" ng-required="true">
							    </div>
						    </div>
						    <div class="form-row">
							    <div class="form-group col-md-4">
							      <label for="document"> Document Type</label>
										
									<select class="form-control" name="document_type" ng-model="data.document_type" ng-required="true">
								      <option>Select</option>
								      <option value="aadhar">Aadhar</option>
								      <option value="voter_id">Voter ID</option>
								      <option value="ration_card">Ration Card</option>
								      <option value="ration_card">Pan Card</option>
								    </select>

	    						</div>

	    						<div class="form-group col-md-6">
									<label for="document">Upload Document</label>
									<input type="file" class="form-control" name="document" file-model="myFile" ng-required="true" />
							      
							    </div>
							    <div class="form-group col-md-2" style="padding-top:22px">
							    	<button type="submit" ng-click = "citizenform.$valid && uploadFile(data.first_name, 'document')" class="btn btn-warning">Upload</button>
							    </div>
	    					</div>

	    					<div class='form-row'>
	    						<div class="form-group col-md-6">
									<label for="document">Upload Photo</label>
									<input type="file" class="form-control" name="document" file-model="myPhoto" ng-required="true" />
								</div>
							    <div class="form-group col-md-6" style="padding-top:22px">
							    	<button type="submit" ng-click = "citizenform.$valid && uploadFilePhoto(data.first_name, 'photo')" class="btn btn-warning">Upload</button>
					    		</div>
	    					</div>
	    					
						    <!-- <div class="form-row text-center"> -->
							    <div class="form-group text-center">
							    <button type="submit" ng-click = "citizenform.$valid && add_citizen()" class="btn btn-primary btn-block">Submit</button>
							    </div>
						    <!-- </div>  -->
						</form>
						<!-- <div class="form-row pull-right">
							    <div class="form-group col-md-6">
							    <button type="submit" ng-click = "add_citizen()" class="btn btn-primary">Submit</button>
							    </div>
						    </div> -->
					</div>
				</div>	
			</div>
		</div>
		<div class="col-sm-0 col-lg-2 col-md-2">
		</div>
	</div>
{% endblock %}
