{% extends 'base.html' %}
{% block title %}Citizen Form{% endblock %}
{% block body %}
<div class= "container-fluid" ng-controller = 'citizen_controller'>
	<table class="table table-bordered">
		<div class="row">
			<div class="pull-right col-md-4 col-lg-4 col-sm-4">
				 <input type="text" ng-model="search" class="form-control" placeholder="Search In Table">
			</div>
		</div><br>
	    <thead>
	      <tr>
	      	<th class="id">Name&nbsp;<a ng-click="sort_by('first_name')"><i class="icon-sort"></i></a></th>
	        <th>Email&nbsp;<a ng-click="sort_by('email')"><i class="icon-sort"></i></a>
	        </th>
	        <th>Mobile&nbsp;<a ng-click="sort_by('mobile')"><i class="icon-sort"></i></a>
	        </th>
	        <th>City&nbsp;<a ng-click="sort_by('city')"><i class="icon-sort"></i></a>
	        </th>
	        <th>Qualification&nbsp;<a ng-click="sort_by('qualification')"><i class="icon-sort"></i></a>
	        </th>
	        <th>Action</th>
	      </tr>
    	</thead>
	    <tbody>
	  
	      <tr ng-repeat="temp in all_citizen | filter:search | orderBy:sortingOrder:reverse">
	        <td>{[ temp.first_name]} {[temp.last_name]}</td>
	        <td>{[ temp.email ]}</td>
	        <td>{[ temp.mobile ]}</td>
	        <td>{[ temp.city ]}</td>
	        <td>{[ temp.qualification]}</td>
	        <td>
				<button type="submit" data-toggle="modal" ng-click = "open_modal(temp)" class="btn btn-warning btn-sm">
				    <span class="glyphicon glyphicon-edit"></span>
				</button>
			    
				<button type="submit" ng-click = "citizenDelete(temp.pk)" class="btn btn-warning btn-sm">
				    <span class="glyphicon glyphicon-trash"></span>
				</button>
			   
		    </td>
	      </tr>
	   
	    </tbody>
        <tfoot>
           
        </tfoot>
    </table>
    <!-- MODAL -->
	<div id="updateModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Update Citizen</h4>
	      </div>
	      <div class="modal-body">
		<div class= "row">
			
			<div class="col-sm-12 col-lg-12 col-md-12">
				<div class="panel panel-default">
				<!-- <div class="panel-heading"><strong>Citizen Registration</strong></div> -->
					<div class="panel-body">
						<form name = "citizenform" enctype="multipart/form-data">
						{% csrf_token %}
							<div class="form-row">
							    <div class="form-group col-md-6">
							      <label for="first_name">First Name</label>
							      <input type="text" class="form-control" name = "first_name" id="first_name"  ng-model="single_citizen.first_name" ng-required="true">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="last_name">Last Name</label>
							      <input type="" class="form-control" id="last_name" name = "last_name" ng-model="single_citizen.last_name" ng-required="true">
							    </div>
							</div>
							<div class="form-row">
							    <div class="form-group col-md-6">
							      <label for="email">Email</label>
							      <input type="email" class="form-control" id="email" name="email" ng-model = "single_citizen.email" ng-required="true">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="Birth_Date">Birth Date</label>
							      <input type="date" class="form-control" id="birth_Date" name="Birth_Date" value = "{[single_citizen.birth_date]}" ng-model="single_citizen.birth_date" ng-required="true">
							    </div>
							</div>
							<div class="form-row">
							    <div class="form-group col-md-6">
							      <label for="city">City</label>
							      <input type="text" class="form-control" id="city" name="city" 
							      ng-model="single_citizen.city" ng-required="true">
							    </div>
							    <div class="form-group col-md-6">
						      		<label for="pincode">pincode</label>
						      		<input type="text" class="form-control" id="pincode" name="pincode" ng-model="single_citizen.pincode" ng-required="true" maxlength="6"ng-pattern="/^[0-9]{0,7}$/">
								     <span ng-show="citizenform.pincode.$error.pattern" color='red'>Not a valid Pincode!</span>
						    	</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-12">
								    <label for="Address">Address</label>
								    <input type="text" class="form-control" id="Address" name="address" ng-model = "single_citizen.address" ng-required="true">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
								      <label for="Mobile">Mobile</label>
								      <input type="text" class="form-control" id="Mobile" name="mobile" ng-model="single_citizen.mobile" ng-required="true" maxlength="10" ng-pattern="/^[0-9]{0,10}$/">
								      <span ng-show="citizenform.mobile.$error.pattern" color='red'>Not a valid number!</span>
								</div>
							    <div class="form-group col-md-6">
							      <label for="Qualification">Qualification</label>
							      <input type="text" class="form-control" id="Qualification" name="qualification" ng-model="single_citizen.qualification" ng-required="true">
							    </div>
						    </div>
							    <div class="form-group text-center">
							    <button type="submit" ng-click = "citizenform.$valid && citizenUpdate(single_citizen.pk)" class="btn btn-primary btn-block">Update</button>
							    </div>
						</form>
					</div>
				</div>	
			</div>
		</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
		<!-- End Madal -->
</div>

{% endblock %}
